*{
	padding: 0;
	margin: 0;
}
#header{
	/*width: 80%;*/
	/*padding: 0 10%;*/
	list-style: none;
	background: #e52318;
	/*text-decoration: none;*/
}
.menu{
	list-style: none;
	padding: 0% 20% ;
	background: #842924;
	width: 100%;
}

#header>ul>a>h1{
	padding: 0 20%;

}
#header>ul>a{
	text-decoration: none;
	color: white;

	/*padding: 0% 10%*/;
	font-family: Time New Roman;
}

.first{
	color: white;
	border-right: 1px solid;
	display: inline-block;
	padding: 0% 11px;
	position: relative;
}
.first>a{
	text-decoration: none;
	color: white;
}
#qc{
	width: 60%;
	padding:0% 20%; 
	position: relative;
	background-color: lavender;
	padding-bottom: 15px;
}
.second1{
	float: right;
	margin-right: 10%;
	/*width: 11%;*/
	padding: 3px 0;
}
.second2{
	position: relative;
}
.ad{
	width: 80%;
}
.anhto{
	/*width: 80%;*/
	margin: 0% 15%;
}
.anhcon{
	position: absolute;
	top: 25px;
	right: 9%;
	background-color: grey;
	border-radius: 0 0 0 10px;
}
#content{
	padding:0% 20%; 
}
#ct-left{
	width: 80%;
	display: inline-block;
}
.content1{
	width: 100%;
	border-bottom: 1px grey solid;
	padding-bottom: 10px;
}

.ct-ct{
	width: 100%;
}
.ctct{
	width: 40%;
	float: left;
}
.ct-ct>img{
	width: 60%;
	float: left;
}
.ctct>a{
	text-decoration: none;
	color: black;
}
.content1>a{
	text-decoration: none;
	color: black;
}
.content1>a>h3{
	margin: 0;
}
.date{
	margin:0;
	display: inline-block;
}
.date>a{
	text-decoration: none;
	color: red;
	border-left: 1px black solid;
	padding-left: 3px;
}
.content2{
	width: 100%;
	margin-top: 2%;
	border-bottom: 1px grey solid;
	padding-bottom: 10px;
}
.content2-1{
	width: 35%;
	float: left;
	border-right: 1px grey solid;
	padding-right: 5px;
}
.content2-1>img{
	width: 100%;
}
.content2-1>a{
	text-decoration: none;
	color: black;
}
.content2-2{
	width: 35%;
	float: left;
	border-right: 1px grey solid;
	padding: 0 5px;
}
.content2-2>img{
	width: 100%;
}
.content2-2>a{
	text-decoration: none;
	color: black;
}
.content2-3{
	width: 25%;
	float: left;
	padding-left: 5px;
}
.content2-3>a{
	text-decoration: none;
	color: black;
}
.content3{
	width: 100%;
	padding-bottom: 10px;
}
.content3-m{
	width: 100%;
}
.content3-t1{
	width: 50%;
	float: left;
	border-bottom: 1px grey solid;
}
.content3-t1>a{
	text-decoration: none;
	color: black;
}
.content3-m{
	width: 100%;
}
.content3-m1{
	width: 50%;
	float: left;
	border-bottom: 1px grey solid;
}
.content3-m1>a{
	text-decoration: none;
	color: black;
}
.content4{
	border-bottom: 1px grey solid;
	padding-bottom: 5px;
}
.content4>a{
	text-decoration: none;
	color: black;
}
.ct4>a>h2{
	display: inline-block;
}
.muiten{
	color: red;
}
.content4-tl{
	width: 50%;
	margin: 0;
	display: inline-block;
}
.content4-tl1>a{
	text-decoration: none;
	color: black;
}
.content4-tl>img{
	width: 50%;
	display: inline-block;
}
.content4-tl1{
	width: 50%;
	float: right;
}
.content4-tr{
	width: 50%;
	display: inline-block;
	float: right;
}
.content4-tr1{
	width: 50%;
	float: right;
}
.content4-tr1>a{
	text-decoration: none;
	color: black;
}
.content4-tr>img{
	width: 50%;
	display: inline-block;
}
.content4-ml{
	width: 50%;
	margin: 0;
	display: inline-block;
}
.content4-ml1>a{
	text-decoration: none;
	color: black;
}
.content4-ml>img{
	width: 50%;
	display: inline-block;
}
.content4-ml1{
	width: 50%;
	float: right;
}
.content4-mr{
	width: 50%;
	display: inline-block;
	float: right;
}
.content4-mr1{
	width: 50%;
	float: right;
}
.content4-mr1>a{
	text-decoration: none;
	color: black;
}
.content4-mr>img{
	width: 50%;
	display: inline-block;
}
.content5{
	width: 100%;
	border-bottom: 1px grey solid;
}
.diemnhan>a{
	text-decoration: none;
	color: black;
}
.diemnhan>a>h2{
	display: inline-block;
}
.muiten{
	color: red;
}
.content5-ct{
	width: 30%;
	float: left;
}
.content5-ct>a{
	text-decoration: none;
	color: black;
}
.content5>img{
	width: 70%;
}


