body{
	margin: 0;
	padding:0 5%;
}
form{
	font-family: tahoma;
}
#header{
	width: 100%;
	height: 70px; 
}
.multi{
	width: 25%;
	height: 70px;
	float: left;
	/*line-height: 70px;*/

}
.multi>a{
	text-decoration: none;
	padding-left: 50%;
	font-size: 30px;
	text-align: center;
	/*height: 70px;*/
}
.multi>a>div{
	color: black;
	display: inline-block;
	margin: 0;
	line-height: 10px
}
.multi>a>div>p{
	color: red;
	display: inline-block;
}
.menu{
	width: 75%;
	height: 70px;
	text-align: right;
	float: right;

}
.menu>ul{
	margin-top: 0;
	float: right;
	padding-right: 10%;
}
.menu>ul>li{
	list-style: none;
	line-height: 40px;
	float: left;
	padding-right:  50px;
}
.menu>ul>li>a{
	text-decoration: none;
	line-height: 70px;
	color: black;
}
.menu>ul>li>a.menu1{
	color: red;
}	
#content1>img{
	width: 100%;
}
#content1>p{
	padding-top: 30px;
	text-align: center;
	font-size: 28px;
}
.icon-ct1{
	text-align: center;
}
#content1>div>p{
	text-align: center;
	font-size: 35px;
	margin: 0;
}
#content1>div>i{
	font-size: 10px;
}
.dot{
	color: #f25713;
	
}
#content2{
	padding-top: 80px;
}
#content2>div>i{
	background-color: #f25713;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	line-height:70px;
	text-align: center;
	color: #ffff;
	font-size: 30px;
}
#content2>div>p{
	padding-top: 40px;
	font-size: 21px;
}
#content2>div{
	width:24%;
	text-align: center;
	display: inline-block;
	padding-top: 80px;
	padding: 0
}
#content3{
	text-align: center;
}
#content3>div>p{
	font-size: 37px;
}
#content4{
	text-align: center;
	padding-top: 30px;
}
#content4>img{
	padding: 0 50px;
}
#content5{
	padding-top: 60px;
}
#content5{
	width: 100%;
	padding-left: 7%;
}
.content5-item{
	width: 30%;
	display: inline-block;
}
.right-ct5>div>p{
	font-size: 23px;
}
.right-ct5>p{
	font-size: 14px;
}
.left-icon{
	float: left;
}
.icon-ct5{
	background-color: #f25713;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	line-height:70px;
	text-align: center;
	color: #ffff;
	font-size: 30px;
}
#content6{
	padding-top: 4%;
	background-color:#f25713;
	color: white;
	text-align: center;
	padding-bottom: 3%;
}
.line-ct6>p{
	font-size: 32px;
}
.content6-item2>p{
	display: inline-block;
	color: black;
	background-color: white;
	border-radius: 25px;
	width: 16%;
 	font-size: 26px;
    height: 44px;
    line-height:44px;
}
.content6-item2{
	padding-top: 2%
}
#content7{
	padding-top: 5%;
	background-color: lavender;
	text-align: center;
}
.line-ct7>p{
	font-size: 28px;
}
#content7>div>p{
	font-size: 22px;
}
.content7-item>div{
	display: inline-block;
	width: 15%;
	padding: 4%
}
.content7-item>div>img{
	border-radius: 20px;
}
.content7-item>div>div>p{
	font-size: 30px;
}
#footer1{
	background-color: #525056;
    padding-left: 5%;
}
.footer1{
	width: 30%;
	height: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 3% 10px;
}
.footer1>div>p{
font-size: 14px;
}
.left>div>p{
	font-size: 30px
}
.center>div>p{
	font-size: 30px
}
.right>div>p{
	font-size: 30px
}
#footer2{
	background-color: black;
	color: white;
	padding:0 5%;
}
#footer2>div{
	display: inline-block;
	font-size: 14px;
}
.footer-menu>ul>li{
list-style: none;
display: inline-block;
padding: 0 20px;
}
.footer-menu>ul>li>a{
	text-decoration: none;
	color: white;
}
.footer-menu{
	padding-left: 100%;
	width: 100%;
}
.footer2-left{
	width: 100%;
}
